* {
	font-family: 'Courier';
	text-decoration: none;
	margin: 0px;
	padding: 0px;
}
p {
	color: white;
}

body {
	background: #36393f;
}



#header {
	background: #202225;
	width: 100%;
	height: 75px;
	position: sticky;
	top: 0px;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 5px;
}
#logoName {
	height: 65px;
	background: #489d3b;
	display: flex;
	flex-direction: row;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	margin: auto 0px;
}
#header img {
	height: 60px;
	width: 60px;
	margin: auto 10px;
	margin-right: 5px;
}
#header p {
	font-size: 20px;
	margin: auto 10px;
	margin-left: 5px;
}
#internalLinks {
	height: 55px;
	width: 50%;
	margin: 5px auto;
	display: flex;
	justify-content: space-around;
	border-right: #489d3b solid 5px;
	border-top: #489d3b solid 5px;
	border-bottom: #489d3b solid 5px;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
}
#internalLinks a {
	border-bottom: #489d3b solid 5px;
}
#header a {
	text-decoration: none;
	margin: auto 5px;
}
#header form {
	margin: 5px;
	margin-right: 20px;
}
#searchText {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	color: black;
}
#searchSubmit {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	background: #489d3b;
}



#menuExternalLinks {
	display: flex;
	flex-direction: column;
	flex-wrap: 1;
	margin: 5px 0px;
}
#menuExternalLinks p {
	background: #202225;
	text-align: center;
	width: 200px;
	padding: 5px 50px;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	margin: 0px auto;
}
#externalLinks {
	background: #202225;
	width: 100%;
	height: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-bottom: 0px;
}
#externalLinks a {
	background: white;
	color: #202225;
	text-decoration: none;
	width: 100px;
	text-align: center;
	padding: 10px;
	border-radius: 20px;
	margin: 5px;
}
#lineFillerDecor {
	height: 2px;
	width: 100%;
	border: none none none;
	background-color: #489d3b;
}



#footer {
	background: #202225;
	width: 100%;
	height: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 5px 0px 0px;
}
#footer p {
	margin: 5px;
	margin-left: 20px;
}
#socialLinks {
	height: 100%;
	margin-left: auto;
	margin-right: 20px;
}
#socialLinks a {
	width: 40px;
	margin: 5px;
	color: #489d3b;
	font-size: 40px;
	text-decoration: none;
	text-align: center;
}



#contents {
	margin: 5px 75px;
}
#title {
	background: #43474f;
	border-radius: 20px;
	margin: 5px 10px;
	padding: 10px;
	border-bottom: #489d3b solid 5px;
	margin-top: 5px;
	text-align: center;
	display: flex;
	flex-direction: column;
	flex-wrap: 1;
}
#title h1 {
	font-size: 100px;
}
#title h2 {
}

#index {
	margin: 5px 10px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	flex-wrap: 1;
}
#index h2 {
	font-size: 50px;
	margin: 5px auto;
}
#index a {
	margin: 5px auto;
}



#what1 {
	position: relative;
	height: 75px;
}
#what {
	background: #43474f;
	border-radius: 20px;
	margin: 5px 10px;
	padding: 10px;
	border-bottom: #489d3b solid 5px;
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	grid-template-areas: 
	'area1 area2'
	'area3 area2';
}
#what a {
	grid-area: area1;
	margin: 5px auto;
}
#what p {
	text-indent: 40px;
	grid-area: area3;
	margin: 5px auto;
	text-align: left;
	width: 500px;
}
#what img {
	grid-area: area2;
	width: 200px;
	height: 200px;
}



#howTo {
	background: #43474f;
	border-radius: 20px;
	margin: 5px 10px;
	padding: 10px;
	border-bottom: #489d3b solid 5px;
}
#howTo p {
	text-align: left;
}



#where {
	background: #43474f;
	border-radius: 20px;
	margin: 5px 10px;
	padding: 10px;
	border-bottom: #489d3b solid 5px;
}
#where p {
	text-align: left;
}



.text {
	color: white;
}

.subtitle {
	color: #489d3b;
	font-size: 20px;
}

.spacer {
	height: 75px;
	background: transparent;
	border: none;
}
